h1{
    color: #fff;
    font-size: 70px;
}

p{
    color: #fff;
    font-family: sans-serif;
}

.name{
    display: flex;
    position: bottom;
    flex-direction:row;
    flex-direction: left;

    
}